<h3><?php echo l('edit_tab'); ?></h3>
<form action="<?php echo Request::requestUri(); ?>" method="post" class="overlay_thin">
	<?php echo show_errors($tab->errors); ?>
	<div class="tabular box">
		<?php echo View::render('vcs/_form'); ?>
	</div>
	<div class="actions">
		<input type="submit" value="<?php echo l('save'); ?>" />
		<input type="button" value="<?php echo l('cancel'); ?>" onclick="close_overlay();" />
	</div>
</form>
