<div class="admin custom_tabs listing content">
	<?php echo HTML::link(l('repo_new'), '/admin/vcs/new', array('class' => 'button_new', 'data-overlay' => true)); ?>
</div>
<div>
	<table class="list">
		<thead>
			<th class="name"><?php echo l('name'); ?></th>
			<th class="actions"><?php echo l('actions'); ?></th>
		</thead>
		<tbody>
		<?php foreach ($vcs as $tab) { ?>
			<tr>
				<td><?php echo HTML::link($tab->name, "/admin/vcs/{$tab->id}/edit", array('data-overlay' => true)); ?></td>
				<td>
					<?php echo HTML::link(l('edit'), "/admin/vcs/{$tab->id}/edit", array('class' => 'button_edit', 'data-overlay' => true)); ?>
					<?php echo HTML::link(l('delete'), "/admin/vcs/{$tab->id}/delete", array('class' => 'button_delete', 'data-confirm' => l('confirm.delete_x', $tab->path))); ?>
				</td>
			</tr>
		<?php } ?>
		</tbody>
	</table>
</div>
