<div class="admin new custom_tab content">
	<h3><?php echo l('new_tab'); ?></h3>
	<form action="<?php echo Request::requestUri(); ?>" method="post">
		<?php echo show_errors($tab->errors); ?>
		<div class="tabular box">
			<?php echo View::render('vcs/_form'); ?>
		</div>
		<div class="actions">
			<input type="submit" value="<?php echo l('create'); ?>" />
		</div>
	</form>
</div>
