<div class="group">
	<label><?php echo l('repo_name'); ?></label>
	<?php echo Form::text('name', array('value' => $tab->name)); ?>
</div>
<div class="group">
	<label><?php echo l('repo_cloneurl'); ?></label>
	<?php echo Form::text('cloneurl', array('value' => $tab->cloneurl)); ?>
</div>
<div class="group">
	<label><?php echo l('repo_path'); ?></label>
	<?php echo Form::text('path', array('value' => $tab->path)); ?>
</div>
<div class="group">
	<label><?php echo l('groups'); ?></label>
	<?php echo Form::multiselect("groups[]", traq\models\Group::select_options(), explode(',', $tab->groups)); ?>
</div>
<div class="group">
	<label><?php echo l('project'); ?></label>
	<?php echo Form::select("project_id", array_merge( traq\models\Project::select_options()), array('value' => $tab->project_id)); ?>
</div>

