<div id="reposub">
<ul>
<li
<?php echo iif(active_nav('/:slug/repository/'.$vcs->id), 'class="active"')  ?>>
<?php echo HTML::link(l('repo_overview'),'/'.$project->slug.'/repository/'.$vcs->id ) ?>
</li>




<li
<?php echo iif(active_nav('/:slug/repository/'.$vcs->id.'/tree'), 'class="active"')  ?>>
<?php echo HTML::link(l('repo_tree'),'/'.$project->slug.'/repository/'.$vcs->id.'/tree' ) ?>
</li>

<li
<?php echo iif(active_nav('/:slug/repository/'.$vcs->id.'/history'), 'class="active"')  ?>>
<?php echo HTML::link('History','/'.$project->slug.'/repository/'.$vcs->id.'/history' ) ?>
</li>
</ul>
</div>
<style type="text/css">
	#reposub {
		
		padding-top: 15px;
	}
	#reposub ul {
		
	}
	#reposub ul li {
		display: inline;

		
		
	}
	#reposub li  a {
		border: 1px solid #3478AA;
		padding: 7px;
		width: 150px;
		text-decoration: none;
	}
	#reposub li.active  a {
		background-color: #3478AA;
		color:#fff;
	}

	#reposub li  a:hover {
		background-color: #3478AA;
		color:#fff;
	}
</style>