<?php echo View::render('vcs/_sub'); ?>

<div id="commit">
<table>
<tr>
	<td><?php echo l('repo_commit') ?></td><td><?php echo $commit->_data['commit']; ?></td>
</tr>
<tr>
	<td><?php echo l('repo_author') ?></td><td><?php echo $commit->_data['author']; ?></td>
</tr>
<tr>
	<td><?php echo l('repo_date') ?></td><td><?php echo date('d.m.Y -H:i', $commit->_data['date']); ?></td>
</tr>
<tr>
	<td colspan="2">
		<table>
			<?php 
			foreach (explode(PHP_EOL, $commit->_data['info']) as $value) {

			 	$v = explode('|', $value);
			 	if(count($v) > 1){
			 		$v[1] = str_replace('+', '<span class="plus">+</span>', $v[1]);
			 		$v[1] = str_replace('-', '<span class="minus">-</span>', $v[1]);
			 		echo '<tr>';
			 		echo '<td>'.$v[0].'</td>';
			 		echo '<td>'.$v[1].'</td>';
			 		echo '</tr>';
			 	} else {
			 		$v[0] = str_replace('+', '<span class="plus">+</span>', $v[0]);
			 		$v[0] = str_replace('-', '<span class="minus">-</span>', $v[0]);
			 		echo '<tr>';
			 		echo '<td colspan="2">'.$v[0].'</td>';
			 		echo '</tr>';
			 	}

			 	
			 } ?>
		</table>
	</td>
</tr>
</table>
<a href="javascript:history.back()"><?php echo l('repo_back') ?></a>
<style type="text/css">
	span.plus {
		color:green;
		font-weight: bold;
	}
	span.minus {
		color:red;
		font-weight: bold;
	}
</style>