<?php echo View::render('vcs/_sub'); ?>


<table>
<?php 
#var_export($log);
foreach ($log as $value) {

	echo '<tr>';
	echo '<td style="vertical-align:top;"><strong>'.HTML::link($value->commit,'/'.$project->slug.'/repository/'.$vcs->id.'/commit/'.$value->commit).'</strong><br />
	'.date('d.m.Y - H:i', $value->date).'<br />
	'.htmlspecialchars($value->author).'<br />
	</td>';
	echo '<td>'.implode('<br />',explode(PHP_EOL, htmlspecialchars($value->message))).'</td>';

	echo '</tr>';
}
?>

</table>


<?php echo View::render('layouts/_pagination'); ?>