<?php echo View::render('vcs/_sub'); ?>

<h2><?php echo $vcs->name ?></h2>
<h3><?php echo l('repo_info') ?></h3>

<table>
	<tr>
		<td><strong><?php echo l('repo_author') ?></strong></td><td><?php echo htmlspecialchars($repo['info']['author']) ?></td>

	</tr>
	<?php if($vcs->cloneurl) { ?>
		<tr>
			<td><strong><?php echo l('repo_cloneurl') ?></strong></td><td><?php echo $vcs->cloneurl ?></td>
		</tr>
	<?php } ?>
	<tr>
		<td><strong><?php echo l('repo_lastcommit') ?></strong></td><td><?php echo htmlspecialchars($repo['info']['last_commit']['date']) ?></td>
	</tr>
	<tr>
		<td></td><td><?php echo implode('<br />',explode(PHP_EOL, htmlspecialchars($repo['info']['last_commit']['message']))) ?></td>
	</tr>
</table>
