
<?php

foreach($vcs as $tab){
	if (!in_array($current_user->group_id, explode(',', $tab->groups))) { continue; }
}
if(is_array($vcs)){
	foreach ($vcs as $tab) {
		if ((isset($project) and $tab->project_id == $project->id)) {
			?>
			<li <?php  
				if(active_nav('/:slug/repository/'.$tab->id) OR active_nav('/:slug/repository/'.$tab->id.'/tree') OR active_nav('/:slug/repository/'.$tab->id.'/history')){
					echo 'class="active"';
				}
				?>>

<?php echo HTML::link(l('repo'),'/'.$project->slug.'/repository/'.$tab->id ) ?>

				</li>
			<?php
		} 
	}
} else {
	?>
	<li <?php  
		if(active_nav('/:slug/repository/'.$vcs->id) OR active_nav('/:slug/repository/'.$vcs->id.'/tree') OR active_nav('/:slug/repository/'.$vcs->id.'/history')){
			echo 'class="active"';
		}
		?>>

		
		<?php echo HTML::link(l('repo'),'/'.$project->slug.'/repository/'.$vcs->id ) ?></li>
		 

		
	<?php
}


?>
