<?php echo View::render('vcs/_sub'); ?>

<div id="tree">
<table>
<?php 


if(isset($parent)){
	echo '<tr>';
	echo '<td><img src="../../../vendor/traq/plugins/vcs/resource/folder.png"></td>';
	echo '<td>
		<form method=post>
			<input type="hidden" name="dir" value="'.$parent['path'].'">
			<button>'.$parent['name'].'</button>
		</form>
	</td><td></td>';
	
	echo '</tr>';
}

foreach ($tree as $key => $item) {
	echo '<tr>';
	if($item['type'] == 'd'){
		echo '<td><img src="../../../vendor/traq/plugins/vcs/resource/folder.png"></td>';
		echo '<td>
					<form method=post>
						<input type="hidden" name="dir" value="'.$item['name'].'">
						<button>'.$item['name'].'</button>
					</form>
			</td><td></td>';
		unset($tree[$key]);
	} 
	echo '</tr>';
}

foreach ($tree as $key => $item) {
	echo '<tr>';
	if($item['type'] == 'f'){
		echo '<td><img src="../../../vendor/traq/plugins/vcs/resource/page.png"></td>';
		echo '<td>'.$item['name'].'</td>';
		echo '<td>
			<form action="'.Request::requestUri().'/raw" method=post target="_blank">
				<input type="hidden" name="file" value="'.$item['name'].'">
				<button><img src="../../../vendor/traq/plugins/vcs/resource/eye.png"></button>
			</form>
			
		</td>';
		unset($tree[$key]);
	} 
	echo '</tr>';
}
?>

</table>
</div>
<style type="text/css">
	#tree button {
		align-items: inherit;
text-align: left;
cursor: pointer;
color: buttontext;
padding: 0;
border: none;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: transparent;
box-sizing: border-box;
text-decoration: underline;
}
	}
</style>